<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Интернет-магазин текстиля GlobalTextile</title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed&display=swap" rel="stylesheet">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/reset.css">
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/libs/FontAwesome/all.min.css">
    <link rel="stylesheet" href="~/libs/OwlCarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/slider.css" />
    <link rel="stylesheet" href="~/libs/themes/krajee-svg/theme.min.css">
    <link rel="stylesheet" href="~/css/star-rating.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="~/css/adapt.css">
    <script type="text/javascript" src="~/libs/jquery 3.4.1.min.js"></script>
    <script type="text/javascript" defer>
        let counter=0;
        let arrCat = [];
        let count = 1;
        let line = 1;
        $.ajax({
            type: 'GET',
            url:'@Url.Action("GetCategories", "TextileApi")',
            contentType: 'json',
            success: function (result) {
                arrCat = result;
                let Url;
                for (let i = 0; i < arrCat.length; i++) {
                    Url = "@ViewBag.Url" + "?CatId=" + arrCat[i].categoryId;
                    if (line % 2 == 0) {
                        $('#' + count).append('<a class="cats" href="'+Url+'">' + arrCat[i].name + '</a><br>');
                    }
                    else {
                        $('#' + count).append('<a class="cats r" href="'+Url+'">' + arrCat[i].name + '</a><br>');
                    }
                     if (arrCat.length - i <= 4) {
                        $('#' + count).append('<br>');
                    }
                    count++;
                    if (count > 4) {
                        count = 1;
                        line++;
                    }
                    $('.categsSelect').append('<option value="' + arrCat[i].categoryId + '">' + arrCat[i].name + '</option>')
                }
            }
        });
        $.ajax({
            type: 'GET',
            url: "@Url.Action("GetCharachteristics","Admin")",
            contentType: 'json',
            success: function (e) {
                console.log(e);
                for (let i = 0; i < e.length; i++) {
                    if (e[i].values.length != 0) {
                        $('.charactsContainer').append('<div class="selectContainer"><label>' + e[i].name + '</label><br/><div class="select-wrapper createSelect"><select name="CharacsValues" class="characteristicSelect ' + i + '"></select><div class="select-arrow-3"></div><div class="select-arrow-3"></div></div> <span class="removeCharact forSelect"><i class="fas fa-times"></i></span><input type="hidden" name="CharacsNames" value="' + e[i].name + '"/></div >');
                        for (let j = 0; j < e[i].values.length; j++) {
                            $('.' + i).append('<option value="' + e[i].values[j].value + '"> ' + e[i].values[j].value + '</option>');
                        }
                    }
                    else {
                        $('.charactsContainer').append('<div class="newCharact"><label class="charactName">' + e[i].name + '</label><br /><input class="charactValue" type="text" /><span class="removeCharact"><i class="fas fa-times"></i></span><input type="hidden" value="' + e[i].name + '" name = "CharacsNames"/></div>');
                    }
                    $('.removeCharact').click(function () {
                        $(this).parent().remove();
                    });
                }
            },
        });
    </script>
</head>
<body>
    <div id="regS"><p>Ваш аккаунт был успешно зарегистрирован, письмо для подтверждения уже было отправлено вам на почту.</p><button class="close"><i class="fas fa-times-circle"></i></button></div>
    <div id="regS1"><p>Вам на почту было отправлено письмо для восстановления пароля</p><button class="close"><i class="fas fa-times-circle"></i></button></div>
    <button id="scrollBtn"><i class="fas fa-chevron-up"></i></button>
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 logo_container">
                    <a href="#"><img src="~/images/logo.png" /></a>
                </div>
                <div class="col-md-5 search_container">
                    <form class="search_form" action="@Url.Action("Search","Home")" method="get">
                        <input type="search" class="searchBar" name="StringQuery" placeholder="Я ищу..."><input class="searchButton" value="Поиск" type="submit" />
                    </form>
                </div>
                <div class="col-md-5 cart_container">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="favouriteList" href="@Url.Action("ShowFavourite", "Profile")" title="Избранные товары"><i class="fas fa-heart"></i></a>
                    }
                    else
                    {
                        <a class="favouriteList" href="#login" title="Избранные товары" data-fancybox="dsf"><i class="fas fa-heart"></i></a>
                    }
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <a href="#login" class="login admLogin" data-fancybox="pp">Войти</a>
                    }
                    else
                    {
                        <div class="helloAuth ">
                            <a href="#" class="login admLogin">Здравствуйте, @ViewBag.Fio</a>
                            <div class="logedDropdown hidden">
                                <ul>
                                    <li class="authOption">
                                        <a href="#">Личные данные <i class="fas fa-chevron-right"></i></a>
                                    </li>
                                    <li class="authOption leave">
                                        Выход
                                    </li>
                                </ul>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </header>
    <div class="categories">
        <span id="cat">Категории <i id="arrowDown" class="fas fa-chevron-down"></i><i id="arrowUp" class="fas fa-chevron-up hdn"></i></span>
        <div id="cats_hdn" class="hdn">
            <div class="container">
                <div class="row">
                    <div id="1" class="col-md-3"></div>
                    <div id="2" class="col-md-3"></div>
                    <div id="3" class="col-md-3"></div>
                    <div id="4" class="col-md-3"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <ul class="adminOptions">
                        <li class="adminOption adminOptionSelected">
                            <span>Добавить товар</span> <i class="fas fa-chevron-right"></i>
                        </li>
                        <li class="adminOption">
                            <span>Добавить категорию</span>  <i class="fas fa-chevron-right"></i>
                        </li>
                        <li class="adminOption">
                            <span>Добавить подкатегорию</span>  <i class="fas fa-chevron-right"></i>
                        </li>
                        <li class="adminOption">
                            <span>Добавить характеристику</span> <i class="fas fa-chevron-right"></i>
                        </li>
                        <li class="adminOption">
                            <span>Добавить характеристику в фильтры</span> <i class="fas fa-chevron-right"></i>
                        </li>
                        <li class="adminOption">
                            <span>Добавить изображение(я) в слайдер</span> <i class="fas fa-chevron-right"></i>
                        </li>
                    </ul>
                </div>
                <div class="col-md-8">
                    <div class="forma">
                        <!--<form action="@Url.Action("CreateItem","Admin")" method="post" enctype="multipart/form-data">
                    <label for="newItemName">Название товара</label><br />
                    <input type="text" class="newItemName" name="Name" /><br />
                    <label for="price">Цена товара</label><br />
                    <input type="text" class="price" name="Price" /><br />
                    <label for="warehouseAm">Кол-во товара на складе</label><br />
                    <input type="text" class="warehouseAm" name="WarehouseAmount" />
                    <div class="discContainer">
                        <input type="checkbox" class="isOnDiscount" name="IsOnDiscount" /><label>&nbsp &nbspТовар со скидкой</label><br />
                        <input placeholder='Цена со скидкой' type='text' class='priceWithDiscount hidden' name="Discount" />
                    </div>
                    <label for="newDescription">Введите описание для товара</label><br />
                    <textarea class="newDescription" name="Description"></textarea>
                    <div class="charactLine">
                        <label>Характеристики</label><span class="addCharact"><i class="fas fa-plus"></i></span>
                    </div>
                    <div class="charactsContainer">

                    </div>
                    <div class="categsContainer">
                        <label>Выберите категорию</label><br />
                        <div class="selectContainer">
                            <div class="select-wrapper createSelect">
                                <select name="CategoryId" class="categsSelect">
                                </select>
                                <div class="select-arrow-3"></div>
                                <div class="select-arrow-3"></div>
                            </div>
                        </div><br />
                        <label>Выберите подкатегорию</label><br />
                        <div class="selectContainer">
                            <div class="select-wrapper createSelect">
                                <select name="ChildCategoryId" class="childCategsSelect">
                                    <option value="Нет">Нет</option>
                                </select>
                                <div class="select-arrow-3"></div>
                                <div class="select-arrow-3"></div>
                            </div>
                        </div>
                    </div><br />
                    <label for="imageUpload">Выберите изображение для товара</label><br /><br />
                    <input type="file" class="imageUpload" name="MainFile" />
                    <label for="imageUploadMultiple">(Не обязательно)Выберите дополнительные изображение для товара(до 3 штук)</label><br /><br />
                    <input type="file" multiple class="imageUploadMultiple" name="Files" />
                    <input type="submit" class="createItem" value="Добавить товар" />
                </form>
            </div>
        </div>
    </div>-->
                        <!--<form action="@Url.Action("CreateChildCategory","Admin")" method="post">
        <label>Название подкатегории</label><br/>
        <input type="text" class="newChildName" name="name" />
        <input type="submit" class="createItem" value="Добавить подкатегории" />
    </form>-->
                        <!--<form action="@Url.Action("CreateCategory","Admin")" method="post">
        <label>Название категории</label><br />
        <input type="text" class="newCatName" name="Name"/>
        <div class="addNewChild">
            <label>Добавить подкатегорию</label> <span class="addChildCat"><i class="fas fa-plus"></i></span>
        </div>
        <input type="submit" class="createItem" value="Добавить категорию" />
    </form>
    <!--<form action="@Url.Action("CreateCharachteristic","Admin")" method="post">
        <label>Имя характеристики</label><br />
        <input type="text" class="newCharactName" name="Name"/><br/>
        <input type="checkbox" class="nP" /><label>&nbsp &nbsp Шаблонные значения</label>
        <div class="pat">

        </div>
        <input type="submit" class="createItem" value="Добавить характеристику"/>
    </form>-->
                        <!-- <form action="@Url.Action("FilterAdd","Admin")" method="post">
         <label>Характеристика для фильтров</label><vr/>
         <div class="selectContainer">
             <div class="select-wrapper createSelect filterSelect">
                 <select name="CharactId" class="filterCharSelect">

                 </select>
                 <div class="select-arrow-3"></div>
                 <div class="select-arrow-3"></div>
             </div>
         </div>
         <br/><input type="submit" class="createItem" value="Добавить в фильтр"/>
     </form>-->
                        <form action="@Url.Action("SliderAdd","Admin")" method="post" enctype="multipart/form-data">
                            <label>Добавить изображение(я) в слайдер</label><br /><br />
                            <input type="file" multiple class="imageUploadMultiple" name="files" />
                            <input type="submit" class="createItem" value="Добавить в слайдер" />
                        </form>
                    </div>
    </div>
    <script type="text/javascript">
        $('.categsSelect').change(function () {
            $.ajax({
                type: 'GET',
                url:"@Url.Action("GetChilds","Admin")"+"?CatId="+$(this).find(':selected').attr('value'),
                contentType: 'json',
                success: function (e) {
                    console.log(e);
                    for (let i = 0; i < e.length; i++) {
                        $('.childCategsSelect').append('<option value="' + e[i].childCategoryId + '">' + e[i].name + '</option>')
                    }
                }
            });
        });
    </script>
    <script type="text/javascript" src="~/libs/themes/krajee-svg/theme.min.js"></script>
    <script type="text/javascript" src="~/js/star-rating.js"></script>
    <script type="text/javascript" src="~/js/ru.js"></script>
    <script type="text/javascript" src="~/js/slider.js"></script>
    <script type="text/javascript" src="~/libs/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/js/main.js"></script>
    <script type="text/javascript" src="~/libs/FontAwesome/all.min.js"></script>
    <script type="text/javascript" src="~/libs/OwlCarousel/owl.carousel.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <script type="text/javascript">
        $('.adminOption').click(function () {
            if (!$(this).hasClass('adminOptionSelected')) {
                let option = $(this).find('span').html();
                $('.forma').find('form').remove();
                if (option == "Добавить товар") {
                    $('.forma').append('<form action="@Url.Action("CreateItem","Admin")" method="post" enctype="multipart/form-data"><label for="newItemName">Название товара</label><br /><input type="text" class="newItemName" name="Name" /><br /><label for="price">Цена товара</label><br /><input type="text" class="price" name="Price" /><br /><label for="warehouseAm">Кол-во товара на складе</label><br /><input type="text" class="warehouseAm" name="WarehouseAmount" /><div class="discContainer"><input type="checkbox" class="isOnDiscount" name="IsOnDiscount" /><label>&nbsp &nbspТовар со скидкой</label><br /><input placeholder="Цена со скидкой" type="text" class="priceWithDiscount hidden" name="Discount" /></div><label for="newDescription">Введите описание для товара</label><br /><textarea class="newDescription" name="Description"></textarea><div class="charactLine"><label>Характеристики</label><span class="addCharact"><i class="fas fa-plus"></i></span></div><div class="charactsContainer"></div><div class="categsContainer"><label>Выберите категорию</label><br /><div class="selectContainer"><div class="select-wrapper createSelect"><select name="CategoryId" class="categsSelect"></select><div class="select-arrow-3"></div><div class="select-arrow-3"></div></div></div><br /><label>Выберите подкатегорию</label><br /><div class="selectContainer"><div class="select-wrapper createSelect"><select name="ChildCategoryId" class="childCategsSelect"><option value="Нет">Нет</option></select><div class="select-arrow-3"></div><div class="select-arrow-3"></div></div></div></div><br /><label for="imageUpload">Выберите изображение для товара</label><br /><br /><input type="file" class="imageUpload" name="MainFile" /><label for="imageUploadMultiple">(Не обязательно)Выберите дополнительные изображение для товара(до 3 штук)</label><br /><br /><input type="file" multiple class="imageUploadMultiple" name="Files" /><input type="submit" class="createItem" value="Добавить товар" /></form>');
                    $('.addCharact').click(function () {
                        $('.charactLine').append('<div class="newCharacteristic"><span class="removeCharact"><i class="fas fa-times"></i></span><label for="charactName">Введите имя для характеристики</label><br/><input class="charactName" type="text" name="CharacsNames"/><br/><label for="charactValue">Введите значение характеристики</label><br/><input class="charactValue" name="CharacsValues" type="text"/></div>')
                        $('.removeCharact').click(function () {
                            $(this).parent().remove();
                        });
                    });
                    $('.isOnDiscount').change(function () {
                        if ($(this).prop('checked')) {
                            $(this).attr('value', 'true');
                        } else {
                            $(this).attr('value', 'false');
                        }
                        $('.priceWithDiscount').toggleClass('hidden');
                    });
                    $.ajax({
                    type: 'GET',
                    url:'@Url.Action("GetCategories", "TextileApi")',
                    contentType: 'json',
                    success: function (result) {
                        arrCat = result;
                        let Url;
                        for (let i = 0; i < arrCat.length; i++) {
                            Url = "@ViewBag.Url" + "?CatId=" + arrCat[i].categoryId;
                            if (line % 2 == 0) {
                                $('#' + count).append('<a class="cats" href="'+Url+'">' + arrCat[i].name + '</a><br>');
                            }
                            else {
                                $('#' + count).append('<a class="cats r" href="'+Url+'">' + arrCat[i].name + '</a><br>');
                            }
                             if (arrCat.length - i <= 4) {
                                $('#' + count).append('<br>');
                            }
                            count++;
                            if (count > 4) {
                                count = 1;
                                line++;
                            }
                            $('.categsSelect').append('<option value="' + arrCat[i].categoryId + '">' + arrCat[i].name + '</option>')
                            }
                        }
                    });
                    $.ajax({
                        type: 'GET',
                        url: "@Url.Action("GetCharachteristics","Admin")",
                        contentType: 'json',
                        success: function (e) {
                            console.log(e);
                            for (let i = 0; i < e.length; i++) {
                                if (e[i].values.length != 0) {
                                    $('.charactsContainer').append('<div class="selectContainer"><label>' + e[i].name + '</label><br/><div class="select-wrapper createSelect"><select name="CharacsValues" class="characteristicSelect ' + i + '"></select><div class="select-arrow-3"></div><div class="select-arrow-3"></div></div> <span class="removeCharact forSelect"><i class="fas fa-times"></i></span><input type="hidden" name="CharacsNames" value="' + e[i].name + '"/></div >');
                                    for (let j = 0; j < e[i].values.length; j++) {
                                        $('.' + i).append('<option value="' + e[i].values[j].value + '"> ' + e[i].values[j].value + '</option>');
                                    }
                                }
                                else {
                                    $('.charactsContainer').append('<div class="newCharact"><label class="charactName">' + e[i].name + '</label><br /><input class="charactValue" type="text" /><span class="removeCharact"><i class="fas fa-times"></i></span><input type="hidden" value="' + e[i].name + '" name = "CharacsNames"/></div>');
                                }
                                $('.removeCharact').click(function () {
                                    $(this).parent().remove();
                                });
                            }
                        },
                    });
                }
                else if (option == "Добавить категорию") {
                    $('.forma').append('<form action="@Url.Action("CreateCategory","Admin")" method="post"><label>Название категории</label><br /><input type="text" class="newCatName" name="Name"/><div class="addNewChild"><label>Добавить подкатегорию</label> <span class="addChildCat"><i class="fas fa-plus"></i></span></div><input type="submit" class="createItem" value="Добавить категорию" /></form>');
                    $('.addChildCat').click(function () {
                        $.ajax({
                            type: 'GET',
                            url: "@Url.Action("GetChilds","Admin")",
                            contentType: 'json',
                            success: function (e) {
                                console.log(e);
                                $('.addNewChild').append('<div class="selectContainer"><div class="select-wrapper createSelect"><select name="ChildCategoryId" class="childSelect ' + counter + '"></select><div class="select-arrow-3"></div><div class="select-arrow-3"></div></div> <span class="removeCharact forSelect"><i class="fas fa-times"></i></span></div >');
                                for (let i = 0; i < e.length; i++) {
                                    $('.' + counter).append('<option value="' + e[i].childCategoryId + '">' + e[i].name + '</option>');
                                }
                                counter++;
                                $('.removeCharact').click(function () {
                                    $(this).parent().remove();
                                });
                            }
                        });
                    });
                }
                else if (option == "Добавить подкатегорию") {
                    $('.forma').append('<form action="@Url.Action("CreateChildCategory","Admin")" method="post"><label>Название подкатегории</label><br/><input type="text" class="newChildName" name="name" /><br/><input type="submit" class="createItem" value="Добавить подкатегории" /></form>');
                }
                else if (option == "Добавить характеристику") {
                    $('.forma').append('<form action="@Url.Action("CreateCharachteristic","Admin")" method="post"><label>Имя характеристики</label><br /><input type="text" class="newCharactName" name="Name"/><br/><input type="checkbox" class="nP" /><label>&nbsp &nbsp Шаблонные значения</label><div class="pat"></div><input type="submit" class="createItem" value="Добавить характеристику"/></form>');
                    $('.nP').change(function () {
                        if ($(this).prop('checked')) {
                            $('.pat').append('<div class="patterns"><label>Добавить шаблонное значение</label><span class="addPattern"><i class="fas fa-plus"></i></span></div>');
                            $('.addPattern').click(function () {
                                $('.patterns').append('<div class="patternContainer"><label>Текст шаблона</label><br/><input type="text" name="Value" class="patternValue"/><span class="removeCharact"><i class="fas fa-times"></i></span></div>');
                                $('.removeCharact').click(function () {
                                    $(this).parent().remove();
                                });
                                $('.patternValue').change(function () {
                                    $(this).attr('value') = $(this).val();
                                })
                            });
                        }
                        else {
                            $('.patterns').remove();
                        }
                    });
                }
                else if (option == 'Добавить характеристику в фильтры') {
                    $('.forma').append('<form action="#"><label>Характеристика для фильтров</label><vr/><div class="selectContainer"><div class="select-wrapper createSelect filterSelect"><select name="" class="filterCharSelect"></select><div class="select-arrow-3"></div><div class="select-arrow-3"></div></div></div><br/><input type="submit" class="createItem" value="Добавить в фильтр"/></form>');
                    $.ajax({
                        type: 'GET',
                        url: "@Url.Action("GetFilters", "Admin")",
                        contentType: "json",
                        success: function (e) {
                            console.log(e);
                            for (let i = 0; i < e.length; i++) {
                                $('.filterCharSelect').append('<option value="' + e[i].charachteristicId + '"> ' + e[i].name + '</option>');
                            }
                        }
                    })
                }
                $('.adminOptions').find('.adminOptionSelected').removeClass('adminOptionSelected');
                $(this).addClass('adminOptionSelected');
            }
        })
        $(document).ready(function () {
            $('.forma').append('<form action="@Url.Action("CreateItem","Admin")" method="post" enctype="multipart/form-data"><label for="newItemName">Название товара</label><br /><input type="text" class="newItemName" name="Name" /><br /><label for="price">Цена товара</label><br /><input type="text" class="price" name="Price" /><br /><label for="warehouseAm">Кол-во товара на складе</label><br /><input type="text" class="warehouseAm" name="WarehouseAmount" /><div class="discContainer"><input type="checkbox" class="isOnDiscount" name="IsOnDiscount" /><label>&nbsp &nbspТовар со скидкой</label><br /><input placeholder="Цена со скидкой" type="text" class="priceWithDiscount hidden" name="Discount" /></div><label for="newDescription">Введите описание для товара</label><br /><textarea class="newDescription" name="Description"></textarea><div class="charactLine"><label>Характеристики</label><span class="addCharact"><i class="fas fa-plus"></i></span></div><div class="charactsContainer"></div><div class="categsContainer"><label>Выберите категорию</label><br /><div class="selectContainer"><div class="select-wrapper createSelect"><select name="CategoryId" class="categsSelect"></select><div class="select-arrow-3"></div><div class="select-arrow-3"></div></div></div><br /><label>Выберите подкатегорию</label><br /><div class="selectContainer"><div class="select-wrapper createSelect"><select name="ChildCategoryId" class="childCategsSelect"><option value="Нет">Нет</option></select><div class="select-arrow-3"></div><div class="select-arrow-3"></div></div></div></div><br /><label for="imageUpload">Выберите изображение для товара</label><br /><br /><input type="file" class="imageUpload" name="MainFile" /><label for="imageUploadMultiple">(Не обязательно)Выберите дополнительные изображение для товара(до 3 штук)</label><br /><br /><input type="file" multiple class="imageUploadMultiple" name="Files" /><input type="submit" class="createItem" value="Добавить товар" /></form>');
            $('.addCharact').click(function () {
                $('.charactLine').append('<div class="newCharacteristic"><span class="removeCharact"><i class="fas fa-times"></i></span><label for="charactName">Введите имя для характеристики</label><br/><input class="charactName" type="text" name="CharacsNames"/><br/><label for="charactValue">Введите значение характеристики</label><br/><input class="charactValue" name="CharacsValues" type="text"/></div>')
                $('.removeCharact').click(function () {
                    $(this).parent().remove();
                });
            });
            $('.isOnDiscount').change(function () {
                if ($(this).prop('checked')) {
                    $(this).attr('value', 'true');
                } else {
                    $(this).attr('value', 'false');
                }
                $('.priceWithDiscount').toggleClass('hidden');
            });
        });

    </script>
</body>
</html>
