@model AmitTextile.Domain.User
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Интернет-магазин текстиля GlobalTextile</title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed&display=swap" rel="stylesheet">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/reset.css">
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/libs/FontAwesome/all.min.css">
    <link rel="stylesheet" href="~/libs/OwlCarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/slider.css" />
    <link rel="stylesheet" href="~/libs/themes/krajee-svg/theme.min.css">
    <link rel="stylesheet" href="~/css/star-rating.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="~/css/adapt.css">
    <script type="text/javascript" src="~/libs/jquery 3.4.1.min.js"></script>
    <script type="text/javascript" defer>
        let arrCat = [];
        let count = 1;
        let line = 1;
        $.ajax({
            type: 'GET',
            url:'@Url.Action("GetCategories", "TextileApi")',
            contentType: 'json',
            success: function (result) {
                arrCat = result;
                let Url;
                for (let i = 0; i < arrCat.length; i++) {
                    Url = "@ViewBag.Url" + "?CatId=" + arrCat[i].categoryId;
                    if (line % 2 == 0) {
                        $('#' + count).append('<a class="cats" href="'+Url+'">' + arrCat[i].name + '</a><br>');
                    }
                    else {
                        $('#' + count).append('<a class="cats r" href="'+Url+'">' + arrCat[i].name + '</a><br>');
                    }
                    if (arrCat.length - i <= 4) {
                        $('#' + count).append('<br>');
                    }
                    count++;
                    if (count > 4) {
                        count = 1;
                        line++;
                    }
                }
            }
        });

    </script>
</head>
<body>
    <div id="regS"><p>Перейдите по ссылке, которую мы отправили вам на вашу почту для смены пароля</p><button class="close"><i class="fas fa-times-circle"></i></button></div>
    <div id="notConfirmed">Извините, но письмо о востановлении пароля можно отправлять только раз в 5 часов<button class="close"><i class="fas fa-times-circle"></i></button></div>
    <div id="regS1"><p>Перейдите по ссылке, которую мы отправили вам на вашу почту для смены почты</p><button class="close"><i class="fas fa-times-circle"></i></button></div>
    <button id="scrollBtn"><i class="fas fa-chevron-up"></i></button>
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 logo_container">
                    <a href="#"><img src="~/images/logoReversed.png" /></a>
                </div>
                <div class="col-md-5 search_container">
                    <form class="search_form" action="@Url.Action("Search","Home")" method="get">
                        <input type="search" class="searchBar" name="StringQuery" placeholder="Я ищу..."><input class="searchButton" value="Поиск" type="submit" />
                    </form>
                </div>
                <div class="col-md-5 cart_container">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="favouriteList" href="@Url.Action("ShowFavourite", "Profile")" title="Избранные товары"><i class="fas fa-heart"></i></a>
                    }
                    else
                    {
                        <a class="favouriteList" href="#login" title="Избранные товары" data-fancybox="dsf"><i class="fas fa-heart"></i></a>
                    }
                    @{
                        int count3 = 0;
                        foreach (var x in ViewBag.Items)
                        {
                            count3 += x.ItemsAmount;
                        }
                    }
                    <div class="cart">
                        <a href="#cartPopup" data-fancybox="2"><i class="fas fa-shopping-cart"></i></a>
                        @if (ViewBag.Items.Count > 0)
                        {
                            <div class="cartWithItems inCart hidden">
                                <span data="@count3">В корзине @count3 товаров</span>
                                <span>Стоимостью @ViewBag.Sum грн</span>
                                <div class="btns">
                                    <a href="#" class="buy">Оформить заказ</a>
                                    <a href="#cartPopup" data-fancybox="1" class="toCart">Перейти в корзину</a>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="inCart hidden">
                                <i class="fas fa-shopping-cart"></i> <span>Ваша корзина пуста</span>
                            </div>
                        }
                    </div>
                    <span class="first">+38-(000)-000-00-00</span><br><span class="nFirst">+38-(000)-000-00-00</span><br><span class="nFirst">+38-(000)-000-00-00</span>
                    <div class="helloAuth ">
                        <a href="@ViewBag.ProfileUrl" class="login">Здравствуйте, @Model.Fio</a>
                        <div class="logedDropdown hidden">
                            <ul>
                                <li class="authOption">
                                    <a href="@ViewBag.ProfileUrl">Личные данные <i class="fas fa-chevron-right"></i></a>
                                </li>
                                <li class="authOption leave">
                                    Выход
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="categories">
        <span id="cat">Категории <i id="arrowDown" class="fas fa-chevron-down"></i><i id="arrowUp" class="fas fa-chevron-up hdn"></i></span>
        <div id="cats_hdn" class="hdn">
            <div class="container">
                <div class="row">
                    <div id="1" class="col-md-3"></div>
                    <div id="2" class="col-md-3"></div>
                    <div id="3" class="col-md-3"></div>
                    <div id="4" class="col-md-3"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="title">Личные Данные</h1>
                    <table class="personalInfo">
                        <tr>
                            <td>
                                ФИО
                            </td>
                            <td>
                                @Model.Fio
                            </td>
                            <td>
                                <button class="changeInfo" data-fancybox="changeInform" href="#changeInform">Изменить личные данные</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Электронная почта
                            </td>
                            <td>
                                @Model.Email
                            </td>
                            <td>
                                <button class="changePass">Изменить пароль</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Телефон
                            </td>
                            <td>
                                @Model.PhoneNumber
                            </td>
                            <td>
                                <button class="changeMail">Изменить почту</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Адрес доставки
                            </td>
                            <td>
                                @Model.Address
                            </td>
                            <td>
                                <button class="exit">Выйти</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="hidden">
        <form id="cartPopup">
            <h1>Корзина</h1>
            @foreach (var x in ViewBag.Items)
            {
                <div class="listItems">
                    <div class="listItem">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="listImgContainer">
                                                    <img src="data:image/jpeg;base64,@(Convert.ToBase64String(x.Textile.MainImage.ByteImg)) alt="awd">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="itemDescriptionList">
                                                    <div class="itemNameList">
                                                        <a href="@ViewBag.BookUrl?TextileId=@x.Textile.TextileId">
                                                            <h2>@x.Textile.Name</h2>
                                                        </a>
                                                    </div>
                                                    <div class="itemPriceList"><span>@(x.Textile.Price + " ₴")</span></div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="buyItemList">
                                                    <span class="changeAm minus" data1="@x.Textile.TextileId" data="@x.ItemId">-</span>
                                                    <span>@x.ItemsAmount</span>
                                                    <span class="changeAm plus" data1="@x.Textile.TextileId" data="@x.ItemId">+</span>
                                                </div>
                                                <div class="sum">
                                                    <label>Сумма</label><br>
                                                    <span>@(x.ItemsAmount * x.Textile.Price)</span>
                                                </div>
                                                <button data="@x.ItemId" class="close1"><i class="fas fa-times-circle"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @{
                decimal yDecimal = 0;
                foreach (var x in ViewBag.Items)
                {
                    yDecimal += x.Textile.Price * x.ItemsAmount;
                }
            }
            <div class="popupCartButtons">
                <span class="continue">Продолжить покупки</span>
                <div>
                    <label for="orderIt">Итого</label> <label class="summa">@yDecimal грн</label><br>
                    <input class="orderIt" type="submit" value="Оформить заказ" />
                </div>
            </div>
        </form>
    </div>
    <div class="hidden">
        <form id="changeInform">
            <label for="Uname">
                ФИО
            </label><br>
            <input class="Uname" type="text" /><br>
            <label for="phone">
                Номер телефона
            </label><br>
            <input type="text" class="phone" /><br>
            <label for="adress">
                Адрес доставки
            </label><br>
            <input type="text" class="adress" />
            <div>
                <span class="decline">Отменить</span>
                <input class="saveCh" type="submit" value="Сохранить" />
            </div>
        </form>
    </div>
    <div class="hidden">
        <form id="resetMail">
            <label for="mail1">
                Введите новую почту
            </label><br />
            <input type="email" class="mail1"/><br />
            <input type="text" class="hidden" />
            <span class="passChangeButton emailChangeButton">Изменить почту</span>
        </form>
    </div>
    <script type="text/javascript">
        let flag;
        $('.changeMail').click(function (e) {
            e.preventDefault()
            $.fancybox.open($('#resetMail'));
        });
        $('.emailChangeButton').click(function (e) {
            let errors = $('.error');
            if (errors[0] != undefined) {
                for (let i = 0; i < errors.length; i++) {
                    errors[i].remove();
                }
            }
            function tgl() {
                $('#regS1').fadeOut(400);
            }
            let mail = $('.mail1').val();
            let x = { "Email":mail};
            $.ajax({
                type: 'POST',
                url:"@Url.Action("ChangeEmail", "Profile")",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(x),
                success: function () {
                    parent.jQuery.fancybox.getInstance().close();
                    $('#regS1').fadeIn(400);
                    setTimeout(tgl, 10000);
                },
                error: function (e) {
                    let errorArr = e.responseText.split('"');
                    if (errorArr[0] != undefined) {
                        for (let i = 1; i < errorArr.length - 1; i++) {
                            if (errorArr[i] != ",") {
                                $('#resetMail').append('<span class="error">' + errorArr[i] + '<br><br></span>');
                            }
                        }
                    }
                }
            });
        });
    </script>
    <script type="text/javascript">
        $('.changeAm').click(function () {
            function add0(e) {
                if ((parseFloat($(e).html()) * 10) % 10 == 0) {
                    $(e).html($(e).html() + ",00");
                }
                else {
                    $(e).html($(e).html().replace('.', ','));
                }
            }
            let item = $(this).parent().parent().parent().parent().parent().parent().parent().parent().parent();
            let form = $(item).parent();
            let id = $(this).attr('data');
            let sum = $(this).parent().parent().find('.sum').find('span');
            let id1 = $(this).attr('data1');
            let am1 = $(this).next();
            let am = $(this).prev();
            let operator = $(this).html();
            let url;
            if (operator == "-") {
                url = '@Url.Action("MinusItemInCart","Cart")'+"?ItemId="+id;
            }
            else {
                url = '@Url.Action("AddToCart","Cart")'+"?Api=1&TextileId="+id1;
            }
            let cost = parseFloat($(this).parent().parent().prev().find('.itemDescriptionList').find('.itemPriceList').find('span').html());
            $.ajax({
                type: 'GET',
                url: url,
                contentType: 'json',
                success: function () {
                    if (operator == "-") {
                        $(am1).html(parseInt($(am1).html()) - 1);
                        $(sum).html(parseFloat(parseFloat($(sum).html()) - cost));
                        add0(sum);
                        $('.summa').html(parseFloat($('.summa').html()) - cost);
                        add0('.summa');
                        $('.summa').html($('.summa').html() + " грн");
                        if ($(am1).html() == "0") {
                            item.remove();
                        }
                    }
                    else {
                        $(am).html(parseInt($(am).html()) + 1);
                        $(sum).html(parseFloat(parseFloat($(sum).html()) + cost));
                        add0(sum);
                        $('.summa').html(parseFloat($('.summa').html()) + cost);
                        add0('.summa');
                    }
                        if ($(form).find('.listItems').length == 0) {
                        $('.inCart').remove();
                        $('.cart').append('<div class="inCart hidden"><i class="fas fa-shopping-cart"></i> <span>Ваша корзина пуста</span></div>');
                        }
                        else {

                            let chPrice = $('.inCart').find('span');
                            if (operator == "-") {
                                $(chPrice[1]).html("Стоимостью " + $('.summa').html())
                                $(chPrice[0]).html("В корзине " + parseInt(parseInt($(chPrice[0]).attr('data')) - 1) + " товаров");
                            }
                            else {
                                $(chPrice[1]).html("Стоимостью " + $('.summa').html())
                                $(chPrice[0]).html("В корзине " + parseInt(parseInt($(chPrice[0]).attr('data')) + 1) + " товаров");
                            }
                        }
                },
                error: function (e) {
                    console.log(e);
                }
            })
        });
    </script>
    <script type="text/javascript">
        let url= "@Url.Action("RemoveFromCart", "TextileApi")";
        $('.close1').click(function (e) {
            e.preventDefault();
            let item = $(this).parent().parent().parent().parent().parent().parent().parent().parent();
            let form = $(item).parent();
            let id = $(this).attr('data');
            let am = $(this).parent().find('.buyItemList').find('span');
            $.ajax({
                type: 'GET',
                url: url + "?ItemId=" + id,
                contentType: 'json',
                success: function () {
                    let price1 = parseFloat($(item).find('.sum').find('span').html());
                    let price2 = $(item).parent().find('.popupCartButtons').find('.summa');
                    let price3= $(item).parent().find('.popupCartButtons').find('.summa').html();
                    price2.html(parseFloat(price3) - price1+" грн");
                    item.remove();
                    if ($(form).find('.listItems').length == 0) {
                        $('.inCart').remove();
                        $('.cart').append('<div class="inCart hidden"><i class="fas fa-shopping-cart"></i> <span>Ваша корзина пуста</span></div>');
                    }
                    else {
                        let chPrice = $('.inCart').find('span');
                        $(chPrice[1]).html("Стоимостью " + parseFloat(parseFloat(price3) - price1) + " грн")
                        $(chPrice[0]).html("В корзине " + parseInt(parseInt($(chPrice[0]).attr('data')) - parseInt($(am[1]).html())) + " товаров");
                    }
                },
            })
        })
    </script>
    <script type="text/javascript">
        $('.changePass').click(function () {
            function tgl() {
                $('#regS').fadeOut(400);
            }
            function tgl1() {
                $('#notConfirmed').fadeOut(400);
            }
            $.ajax({
                type: 'GET',
                url: "@Url.Action("ForgotPassword", "Profile")",
                contentType: 'json',
                success: function () {
                    $('#regS').fadeIn(400);
                    setTimeout(tgl, 10000);
                },
                error: function () {
                    $('#notConfirmed').fadeIn(400);
                    setTimeout(tgl1, 10000);
                }
            })
        });
    </script>
    <script type="text/javascript" src="~/libs/themes/krajee-svg/theme.min.js"></script>
    <script type="text/javascript" src="~/js/star-rating.js"></script>
    <script type="text/javascript" src="~/js/ru.js"></script>
    <script type="text/javascript" src="~/js/slider.js"></script>
    <script type="text/javascript" src="~/libs/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/js/main.js"></script>
    <script type="text/javascript" src="~/libs/FontAwesome/all.min.js"></script>
    <script type="text/javascript" src="~/libs/OwlCarousel/owl.carousel.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
</body>
</html>