<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Интернет-магазин текстиля GlobalTextile</title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed&display=swap" rel="stylesheet">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/reset.css">
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/libs/FontAwesome/all.min.css">
    <link rel="stylesheet" href="~/libs/OwlCarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/slider.css" />
    <link rel="stylesheet" href="~/libs/themes/krajee-svg/theme.min.css">
    <link rel="stylesheet" href="~/css/star-rating.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="~/css/adapt.css">
    <script type="text/javascript" src="~/libs/jquery 3.4.1.min.js"></script>
    <script type="text/javascript" defer>
        let arrCat = [];
        let count = 1;
        let line = 1;
        $.ajax({
            type: 'GET',
            url:'@Url.Action("GetCategories", "TextileApi")',
            contentType: 'json',
            success: function (result) {
                arrCat = result;
                let Url;
                for (let i = 0; i < arrCat.length; i++) {
                    Url = "@ViewBag.Url" + "?CatId=" + arrCat[i].categoryId;
                    if (line % 2 == 0) {
                        $('#' + count).append('<a class="cats" href="'+Url+'">' + arrCat[i].name + '</a><br>');
                    }
                    else {
                        $('#' + count).append('<a class="cats r" href="'+Url+'">' + arrCat[i].name + '</a><br>');
                    }
                     if (arrCat.length - i <= 4) {
                        $('#' + count).append('<br>');
                    }
                    count++;
                    if (count > 4) {
                        count = 1;
                        line++;
                    }
                }
            }
        });
        $(document).ready(function () {
            let lineContainer = document.getElementsByClassName('line');
            let count = 0;
            $.ajax({
                type: 'GET',
                url:"@Url.Action("ShowPopular","TextileApi")",
                contentType: 'json',
                success: function (e) {
                    for (let i = 0; i < e.length; i++) {
                        if (e[i].warehouseAmount >= 30) {
                            $(lineContainer[count]).append("<div class='item'><div class='item_image'><img src='data:image/jpeg;base64," + e[i].base64StrigImg + "' alt='ItemImg'></div><a href='@ViewBag.BookUrl?TextileId=" + e[i].textileId + "' class='item_name'>" + e[i].name + "</a><div class='rateItemContainer'><input class='rateItem' value='" + e[i].stars + "'/> <a href='@ViewBag.BookUrl?TextileId=" + e[i].textileId + "&page=1&Section=CommentsReviews'> " + e[i].parentCommentReviews.length + " Отзывов</a></div><div class='container-fluid itm_field'><div class='row'><div class='col-md-6'><span class='item_cost'>" + e[i].price +" ₴</span><br/><span class='inStock'>В наличии</span></div><div class='col-md-6'><a href='@ViewBag.CartUrl?TextileId="+e[i].textileId+"' class='buy_item'><i class='fas fa-shopping-cart'0></i></a></div></div></div></div>")
                        }
                        else if (e[i].warehouseAmount < 30 && e[i].warehouseAmount != 0) {
                            $(lineContainer[count]).append("<div class='item'><div class='item_image'><img src='data:image/jpeg;base64," + e[i].base64StrigImg + "' alt='ItemImg'></div><a href='@ViewBag.BookUrl?TextileId=" + e[i].textileId + "' class='item_name'>" + e[i].name + "</a><div class='rateItemContainer'><input class='rateItem' value='" + e[i].stars + "'/> <a href='@ViewBag.BookUrl?TextileId=" + e[i].textileId + "&page=1&Section=CommentsReviews'> " + e[i].parentCommentReviews.length + " Отзывов</a></div><div class='container-fluid itm_field'><div class='row'><div class='col-md-6'><span class='item_cost'>" + e[i].price +" ₴</span><br/><span class='lowAm'>Заканчивается</span></div><div class='col-md-6'><a href='@ViewBag.CartUrl?TextileId="+e[i].textileId+"' class='buy_item'><i class='fas fa-shopping-cart'0></i></a></div></div></div></div>")
                        }
                        else {

                            $(lineContainer[count]).append("<div class='item'><div class='item_image'><img src='data:image/jpeg;base64," + e[i].base64StrigImg + "' alt='ItemImg'></div><a href='@ViewBag.BookUrl?TextileId="+e[i].textileId+"' class='item_name'>" + e[i].name + "</a><div class='rateItemContainer'><input class='rateItem' value='" + e[i].stars + "'/> <a href='@ViewBag.BookUrl?TextileId="+e[i].textileId+"&page=1&Section=CommentsReviews'> " + e[i].parentCommentReviews.length +" Отзывов</a></div><div class='container-fluid itm_field'><div class='row'><div class='col-md-6'><span class='item_cost'>" + e[i].price + " ₴</span><br/><span class='notInStock'>Нет в наличии</span></div><div class='col-md-6'><a href='@ViewBag.CartUrl?TextileId="+e[i].textileId+"' class='buy_item'><i class='fas fa-shopping-cart'0></i></a></div></div></div></div>")
                        }
                        $('.rateItem').rating({ displayOnly: true, size: 'xs', showCaption: false, language: "ru" });
                        if (count == 3) {
                            count = 0;
                        }
                        else {
                            count++;
                        }
                    }
                }
            });
            $('.popular').addClass('tpsSelected');
        });
    </script>
</head>
<body>
    
    <div id="regS"><p>Ваш аккаунт был успешно зарегистрирован, письмо для подтверждения уже было отправлено вам на почту.</p><button class="close"><i class="fas fa-times-circle"></i></button></div>
    <div id="regS1"><p>Вам на почту было отправлено письмо для восстановления пароля</p><button class="close"><i class="fas fa-times-circle"></i></button></div>
    <button id="scrollBtn"><i class="fas fa-chevron-up"></i></button>
    <div class="side">
        <div class="zatem"></div>
        <div class="side-menu">
            <span class="closeSide"><i class="fas fa-times"></i></span>
            <ul>
                <li>
                    <a href="#" class="logoMainSide"><img src="~/images/logoReversed.png" /></a>
                </li>
                <li>
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <a href="#login" class="sideOption loginSide" data-fancybox="ppz">Войти</a>
                    }
                    else
                    {
                        <div class="helloAuth ">
                            <a href="#" class="sideOption login">@ViewBag.Fio <i class="fas fa-user"></i></a>
                        </div>
                    }
                </li>
                <li>
                    <a href="#cartPopup" class="sideOption" data-fancybox="3"> Корзина <i class="fas fa-shopping-cart"></i></a>
                </li>
                <li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="favouriteList sideOption" href="@Url.Action("ShowFavourite", "Profile")" title="Избранные товары"><span>Избранное</span> <i class="fas fa-heart"></i></a>
                    }
                    else
                    {
                        <a class="favouriteList sideOption" href="#login" title="Избранные товары" data-fancybox="dssf"><span>Избранное</span> <i class="fas fa-heart"></i></a>
                    }
                </li>
                <li class="sideOptionNH">
                    <h1>Контакты</h1>
                    <span>+38-(000)-000-00-00</span><br />
                    <span>+38-(000)-000-00-00</span><br />
                    <span>+38-(000)-000-00-00</span>
                </li>
            </ul>
        </div>
    </div>
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 logo_container">
                    <a href="#" class="logoMain"><img src="~/images/logoReversed.png" /></a>
                    <a href="#" class="logoWithoutName"><img src="~/images/logoAdapt.png" /></a>
                </div>
                <div class="col-md-5 search_container">
                    <span class="openSide"><i class="fas fa-bars"></i></span>
                    <form class="search_form" action="@Url.Action("Search","Home")" method="get">
                        <input type="search" class="searchBar" name="StringQuery" placeholder="Я ищу..."><input class="searchButton" value="Поиск" type="submit" />
                    </form>
                </div>
                <div class="col-md-5 cart_container">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="favouriteList" href="@Url.Action("ShowFavourite", "Profile")" title="Избранные товары"><i class="fas fa-heart"></i></a>
                    }
                    else
                    {
                        <a class="favouriteList" href="#login" title="Избранные товары" data-fancybox="dsf"><i class="fas fa-heart"></i></a>
                    }
                    @{
                        int count3 = 0;
                        foreach (var x in ViewBag.Items)
                        {
                            count3 += x.ItemsAmount;
                        }
                    }
                    <div class="cart">
                        <a href="#cartPopup" data-fancybox="2"><i class="fas fa-shopping-cart"></i></a>
                        @if (ViewBag.Items.Count > 0)
                        {
                            <div class="cartWithItems inCart hidden">
                                <span data="@count3">В корзине @count3 товаров</span>
                                <span>Стоимостью @ViewBag.Sum грн</span>
                                <div class="btns">
                                    <a href="#" class="buy">Оформить заказ</a>
                                    <a href="#cartPopup" data-fancybox="1" class="toCart">Перейти в корзину</a>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="inCart hidden">
                                <i class="fas fa-shopping-cart"></i> <span>Ваша корзина пуста</span>
                            </div>
                        }
                    </div>
                    <span class="first">+38-(000)-000-00-00</span><br><span class="nFirst">+38-(000)-000-00-00</span><br><span class="nFirst">+38-(000)-000-00-00</span>
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <a href="#login" class="login" data-fancybox="pp">Войти</a>
                    }
                    else
                    {
                        <div class="helloAuth ">
                            <a href="#" class="login">Здравствуйте, @ViewBag.Fio</a>
                            <div class="logedDropdown hidden">
                                <ul>
                                    <li class="authOption">
                                        <a href="#">Личные данные <i class="fas fa-chevron-right"></i></a>
                                    </li>
                                    <li class="authOption leave">
                                        Выход
                                    </li>
                                </ul>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </header>
    <div class="categories">
        <span id="cat">Категории <i id="arrowDown" class="fas fa-chevron-down"></i><i id="arrowUp" class="fas fa-chevron-up hdn"></i></span>
        <div id="cats_hdn" class="hdn">
            <div class="container">
                <div class="row">
                    <div id="1" class="col-md-3"></div>
                    <div id="2" class="col-md-3"></div>
                    <div id="3" class="col-md-3"></div>
                    <div id="4" class="col-md-3"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="slider">
            <div class="slider__wrapper">
                <div class="slider__item">
                    <div style="height: 250px; background: orange;">1</div>
                </div>
                <div class="slider__item">
                    <div style="height: 250px; background: green;">2</div>
                </div>
                <div class="slider__item">
                    <div style="height: 250px; background: violet;">3</div>
                </div>
                <div class="slider__item">
                    <div style="height: 250px; background: coral;">4</div>
                </div>
            </div>
            <a class="slider__control slider__control_left" href="#" role="button"></a>
            <a class="slider__control slider__control_right" href="#" role="button"></a>
        </div>
        <div class="tps">
            <span class="popular">Популярное</span>
            <span class="new">Новые поступления</span>
            <span class="top">Лидеры продаж</span>
            <span class="discounts">Скидки</span>
        </div>
        <div class="container f">
            <div class="row item_cells">
                <div class="col-md-3">
                    <div class="line">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="line">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="line">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="line">
                    </div>
                </div>
            </div>
        </div>
        <div class="hidden">
            <form id="cartPopup">
                <h1>Корзина</h1>
                @foreach (var x in ViewBag.Items)
                {
                    <div class="listItems">
                        <div class="listItem">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="listImgContainer">
                                                        <img src="data:image/jpeg;base64,@(Convert.ToBase64String(x.Textile.MainImage.ByteImg))" alt="awd">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="itemDescriptionList">
                                                        <div class="itemNameList">
                                                            <a href="@ViewBag.BookUrl?TextileId=@x.Textile.TextileId">
                                                                <h2>@x.Textile.Name</h2>
                                                            </a>
                                                        </div>
                                                        <div class="itemPriceList"><span>@(x.Textile.Price + " ₴")</span></div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="buyItemList">
                                                        <span class="changeAm minus" data1="@x.Textile.TextileId" data="@x.ItemId">-</span>
                                                        <span>@x.ItemsAmount</span>
                                                        <span class="changeAm plus" data1="@x.Textile.TextileId" data="@x.ItemId">+</span>
                                                    </div>
                                                    <div class="sum">
                                                        <label>Сумма</label><br>
                                                        <span>@(x.ItemsAmount * x.Textile.Price)</span>
                                                    </div>
                                                    <button data="@x.ItemId" class="close1"><i class="fas fa-times-circle"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @{
                    decimal yDecimal = 0;
                    foreach (var x in ViewBag.Items)
                    {
                        yDecimal += x.Textile.Price * x.ItemsAmount;
                    }
                }
                <div class="popupCartButtons">
                    <span class="continue">Продолжить покупки</span>
                    <div>
                        <label for="orderIt">Итого</label> <label class="summa" value="@yDecimal">@yDecimal грн</label><br>
                        <a class="orderIt" data-fancybox="order" href="#order">Оформить заказ</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="hidden">
        <form id="login">
            <font>Эл. почта</font><br><br>
            <div class="inputFields">
                <input type="email" id="loginName" name="UserEmail" required><br><br>
                <font>Пароль</font><br><br>
                <input type="password" id="loginPass" name="UserPassword" required><button type="button" id="showPassLogin" class="showBtn"><div class="atv"><i class="fas fa-eye"></i></div><div class="atv hdn"><i class="fas fa-eye-slash"></i></div></button><br><br>
            </div>
            <input type="submit" id="loginButton" class="registerButton" value="Войти" name="login" required><br><br>
            <input type="checkbox" id="checkbox" value="true">  Запомнить меня<br><br>
            <a data-fancybox="resetMail" href="#resetMail">Забыли пароль</a><br /><br />
            <a data-fancybox="helo" href="#register">Зарегистрироваться</a> <br>
        </form>
    </div>
    <div class="hidden">
        <form id="register" class="register">
            ФИО <br><br>
            <div class="inputFields">
                <input type="text" id="registerName" name="UserName" required><br><br>
                Эл. почта <span>*</span><br><br>
                <input type="email" id="registerEmail" name="UserEmail" required><br><br>
                Придумайте пароль <span>*</span><br><br>
                <input type="password" id="registerPass" name="UserPassword" required><button type="button" id="showPassRegister" class="showBtn"><div class="atv1"><i class="fas fa-eye"></i></div><div class="atv1 hdn"><i class="fas fa-eye-slash"></i></div></button><br><br>
                Подтвердите пароль <span>*</span><br><br>
                <input type="password" id="confirmPass" required><button type="button" id="showPassConfirm" class="showBtn"><div class="atv2"><i class="fas fa-eye"></i></div><div class="atv2 hdn"><i class="fas fa-eye-slash"></i></div></button><br><br>
                Пароль должен содержать не менее 6 символов<br><br>
            </div>
            <input type="submit" id="registerBtn" class="registerButton" name="register" value="Зарегистрироваться">
            <br />
        </form>

    </div>
    <div class="hidden">
        <form id="resetPass" data-fancybox="resetPass">
            <label for="pass">
                Введите новый пароль
            </label><br />
            <input type="password" class="pass" /><br />
            <label for="confirmPass">
                Подтвердите пароль
            </label><br />
            <input type="password" class="confirmPass" /><br />
            <span class="passChangeButton">Изменить пароль</span>
        </form>
    </div>
    <div class="hidden">
        <form id="resetMail">
            <label for="mail1">
                Введите почту, на которую зарегистрирован ваш аккаунт
            </label><br />
            <input type="email" class="mail1" /><br />
            <input type="text" class="hidden" />
            <span class="emailChangeButton">Восстановить пароль</span>
        </form>
    </div>
    <div class="hidden">
        <form id="order" action="@Url.Action("MakeOrder","Home")" method="post">
            <label>ФИО</label><br />
            <input name="Fio" type="text" class="orderFio" /><br />
            <label>Email</label><br />
            <input type="email" name="Email" class="orderEmail" /><br />
            <label>Номер телефона</label><br />
            <input type="text" class="orderPhone" name="PhoneNumber" />
            <label>Выберите метод оплаты</label><br />
            <div class="paymentMethod">
                <input type="radio" class="payment byCard" name="isPaidByCash" /><label>&nbsp &nbsp Оплата картой</label><br />
                <input type="radio" class="payment byCash" name="isPaidByCash" /><label>&nbsp &nbsp Оплата наличными</label><br />
            </div>
            <label>Ваш город</label><br />
            <input type="text" class="city" name="Address" /><br />
            <label>Выберите метод доставки</label><br />
            <div class="shippingMethod">
                <input type="radio" name="OrderType" class="shippingRadio pickup" checked="checked" /><label>&nbsp &nbsp Самовывоз из магазина</label><br />
                <input type="radio" name="OrderType" class="shippingRadio toDepartment" /><label>&nbsp &nbsp В отделение</label><br />
                <input type="radio" name="OrderType" class="shippingRadio toAddress" /><label>&nbsp &nbsp Адресная доставка</label><br />
            </div>
            <input type="hidden" id="sum" name="Sum" value="@yDecimal" />
            <input type="submit" class="sendOrder createItem" value="Оформить заказ" />
        </form>
    </div>
    <footer>
    </footer>
    <script type="text/javascript">
        $('.emailChangeButton').click(function (e) {
            let errors = $('.error');
            if (errors[0] != undefined) {
                for (let i = 0; i < errors.length; i++) {
                    errors[i].remove();
                }
            }
            function tgl() {
                $('#regS1').fadeOut(400);
            }
            let mail = $('.mail1').val();
            let x = { "Email":mail};
            $.ajax({
                type: 'POST',
                url: "@Url.Action("ResetPassForAnons", "Profile")",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(x),
                success: function () {
                    parent.jQuery.fancybox.getInstance().close();
                    parent.jQuery.fancybox.getInstance().close();
                    $('#regS1').fadeIn(400);
                    setTimeout(tgl, 10000);
                },
                error: function (e) {
                    let errorArr = e.responseText.split('');
                    if (errorArr[0] != undefined) {
                        for (let i = 1; i < errorArr.length - 1; i++) {
                            if (errorArr[i] != ",") {
                                $('#resetMail').append('<span class="error">' + errorArr[i] + '<br><br></span>');
                            }
                        }
                    }
                }
            })
        });
    </script>
    <script type="text/javascript">
        $('.passChangeButton').click(function () {
            let pass = $('.pass').val();
            let confirmPass = $('.confirmPass').val();
            let x = {"Password": pass, "PasswordConfirm": confirmPass, "Code":"@ViewBag.code", "Name": "@ViewBag.name"};
            $.ajax({
                type: 'POST',
                url: "@Url.Action("ResetPassword","Profile")",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(x),
                error: function (e) {
                    errorArr = e.responseText.split('"');
                    let errors = document.getElementsByClassName("error");
                    if (errors[0] != undefined) {
                        for (let i = 0; i < errors.length; i++) {
                            errors[i].remove();
                            i--
                        }
                    }
                    if (errorArr[0] != undefined) {
                        for (let i = 1; i < errorArr.length - 1; i++) {
                            if (errorArr[i] != ",") {
                                $('#resetPass').append('<span class="error">' + errorArr[i] + '<br><br></span>');
                            }
                        }
                    }
                },
                success: function () {
                    window.location.href = "@ViewBag.Urling";
                }
            });
        });
    </script>
    <script type="text/javascript">
        $('.changeAm').click(function () {
            function add0(e) {
                if ((parseFloat($(e).html()) * 10) % 10 == 0) {
                    $(e).html($(e).html() + ",00");
                }
                else {
                    $(e).html($(e).html().replace('.', ','));
                }
            }
            let item = $(this).parent().parent().parent().parent().parent().parent().parent().parent().parent();
            let form = $(item).parent();
            let id = $(this).attr('data');
            let sum = $(this).parent().parent().find('.sum').find('span');
            let id1 = $(this).attr('data1');
            let am1 = $(this).next();
            let am = $(this).prev();
            let operator = $(this).html();
            let url;
            if (operator == "-") {
                url = '@Url.Action("MinusItemInCart","Cart")'+"?ItemId="+id;
            }
            else {
                url = '@Url.Action("AddToCart","Cart")'+"?Api=1&TextileId="+id1;
            }
            let cost = parseFloat($(this).parent().parent().prev().find('.itemDescriptionList').find('.itemPriceList').find('span').html());
            $.ajax({
                type: 'GET',
                url: url,
                contentType: 'json',
                success: function () {
                    if (operator == "-") {
                        $(am1).html(parseInt($(am1).html()) - 1);
                        $(sum).html(parseFloat(parseFloat($(sum).html()) - cost));
                        add0(sum);
                        $('.summa').html(parseFloat($('.summa').html()) - cost);
                        add0('.summa');
                        $('#sum').attr('value', $('.summa').html());
                        $('.summa').html($('.summa').html() + " грн");
                        if ($(am1).html() == "0") {
                            item.remove();
                        }
                    }
                    else {
                        $(am).html(parseInt($(am).html()) + 1);
                        $(sum).html(parseFloat(parseFloat($(sum).html()) + cost));
                        add0(sum);
                        $('.summa').html(parseFloat($('.summa').html()) + cost);
                        add0('.summa');
                        $('#sum').attr('value', $('.summa').html());
                        $('.summa').html($('.summa').html() + " грн");
                    }
                        if ($(form).find('.listItems').length == 0) {
                        $('.inCart').remove();
                        $('.cart').append('<div class="inCart hidden"><i class="fas fa-shopping-cart"></i> <span>Ваша корзина пуста</span></div>');
                        }
                        else {

                            let chPrice = $('.inCart').find('span');
                            if (operator == "-") {
                                $(chPrice[1]).html("Стоимостью " + $('.summa').html())
                                $(chPrice[0]).html("В корзине " + parseInt(parseInt($(chPrice[0]).attr('data')) - 1) + " товаров");
                            }
                            else {
                                $(chPrice[1]).html("Стоимостью " + $('.summa').html())
                                $(chPrice[0]).html("В корзине " + parseInt(parseInt($(chPrice[0]).attr('data')) + 1) + " товаров");
                            }
                        }
                }
            })
        });
    </script>
    <script type="text/javascript">
        let url= "@Url.Action("RemoveFromCart", "TextileApi")";
        $('.close1').click(function (e) {
            e.preventDefault();
            let item = $(this).parent().parent().parent().parent().parent().parent().parent().parent();
            let form = $(item).parent();
            let id = $(this).attr('data');
            let am = $(this).parent().find('.buyItemList').find('span');
            $.ajax({
                type: 'GET',
                url: url + "?ItemId=" + id,
                contentType: 'json',
                success: function () {
                    let price1 = parseFloat($(item).find('.sum').find('span').html());
                    let price2 = $(item).parent().find('.popupCartButtons').find('.summa');
                    let price3 = $(item).parent().find('.popupCartButtons').find('.summa').html();
                    $('#sum').attr('value', parseFloat(price3) - price1);
                    price2.html(parseFloat(price3) - price1 + " грн");
                    item.remove();
                    if ($(form).find('.listItems').length == 0) {
                        $('.inCart').remove();
                        $('.cart').append('<div class="inCart hidden"><i class="fas fa-shopping-cart"></i> <span>Ваша корзина пуста</span></div>');
                    }
                    else {
                        let chPrice = $('.inCart').find('span');
                        $(chPrice[1]).html("Стоимостью " + parseFloat(parseFloat(price3) - price1) + " грн");
                        $(chPrice[0]).html("В корзине " + parseInt(parseInt($(chPrice[0]).attr('data')) - parseInt($(am[1]).html())) + " товаров");
                    }
                },
            })
        })
    </script>
    <script type="text/javascript">
        function tgl() {
            $('#regS').fadeOut(400);
        }
        let errorArr = [];
        $("#registerBtn").click(function (e) {
        e.preventDefault();
        let name = document.getElementById('registerName').value;
        let mail = document.getElementById('registerEmail').value;
        let pass = document.getElementById('registerPass').value;
        let confirmPass = document.getElementById('confirmPass').value;
            let x = {"Email":mail,"Fio":name,"Password":pass,"PasswordConfirm":confirmPass}
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Register", "TextileApi")',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(x),
                error: function(error) {
                    errorArr = error.responseText.split('"');
                    let errors = document.getElementsByClassName("error");
                    if (errors[0] != undefined) {
                        for (let i = 0; i < errors.length; i++) {
                            errors[i].remove();
                            i--;
                        }
                    }
                    if (errorArr[0] != undefined) {
                        for (let i = 1; i < errorArr.length - 1; i++) {
                            if (errorArr[i] != ",") {
                                $('#register').append('<span class="error">' + errorArr[i] + '<br><br></span>');
                            }
                        }
                    }
                },
                success: function (result) {
                    parent.jQuery.fancybox.getInstance().close();
                    parent.jQuery.fancybox.getInstance().close();
                    $('#regS').fadeIn(400);
                    setTimeout(tgl, 10000);
                }
            });
        });
    </script>
    <script type="text/javascript">
        $('#loginButton').click(function (e) {
            e.preventDefault();
            let mail = document.getElementById('loginName').value;
            let pass = document.getElementById('loginPass').value;
            let check = document.getElementById('checkbox');
            let bool;
            if (check.checked) {
                bool = true;
            }
            else {
                bool = false;
            }
            let x = { "Email": mail, "Password": pass, "Remember": bool };
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Login", "TextileApi")',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(x),
                error: function (error) {
                    errorArr = error.responseText.split('"');
                    let errors = document.getElementsByClassName("error");
                    if (errors[0] != undefined) {
                        for (let i = 0; i < errors.length; i++) {
                            errors[i].remove();
                            i--;
                        }
                    }
                    if (errorArr[0] != undefined) {
                        for (let i = 1; i < errorArr.length - 1; i++) {
                            if (errorArr[i] != ",") {
                                $('#login').append('<span class="error">' + errorArr[i] + '<br><br></span>');
                            }
                        }
                    }
                },
                success: function (result) {
                    window.location.href = result;
                }
            });
        });
    </script>
    <script type="text/javascript">
        function get(target) {
            $('.tpsSelected').removeClass('tpsSelected');
            let items = $('.item');
            let lines = $('.line');
            let url;
            for (let i = 0; i < items.length; i++) {
                items[i].remove();
            }
            if (target == 'popular') {
                $('.popular').addClass('tpsSelected');
                url = "@Url.Action("ShowPopular","TextileApi")";
            }
            else if (target == 'new') {
                $('.new').addClass('tpsSelected');
                url = "@Url.Action("ShowNewComings","TextileApi")";
            }
            else if (target == 'top') {
                $('.top').addClass('tpsSelected');
                url = "@Url.Action("SellsLeaders","TextileApi")";
            }
            else {
                $('.discounts').addClass('tpsSelected');
                url = "@Url.Action("Discounts","TextileApi")";
            }
            let count = 0;
            $.ajax({
                type: 'GET',
                url: url,
                contentType: 'json',
                success: function (e) {
                    for (let i = 0; i < e.length; i++) {
                        if (e[i].warehouseAmount >= 30) {
                            $(lines[count]).append("<div class='item'><div class='item_image'><img src='data:image/jpeg;base64," + e[i].base64StrigImg + "' alt='ItemImg'></div><a href='@ViewBag.BookUrl?TextileId=" + e[i].textileId + "' class='item_name'>" + e[i].name + "</a><div class='rateItemContainer'><input class='rateItem' value='" + e[i].stars + "'/> <a href='@ViewBag.BookUrl?TextileId=" + e[i].textileId + "&page=1&Section=CommentsReviews'>" + e[i].parentCommentReviews + " Отзывов</a></div><div class='container-fluid itm_field'><div class='row'><div class='col-md-6'><span class='item_cost'>" + e[i].price +" ₴</span><br/><span class='inStock'>В наличии</span></div><div class='col-md-6'><a href='@ViewBag.CartUrl?TextileId="+e[i].textileId+"' class='buy_item'><i class='fas fa-shopping-cart'0></i></a></div></div></div></div>")
                        }
                        else if (e[i].warehouseAmount < 30 && e[i].warehouseAmount != 0) {
                            $(lines[count]).append("<div class='item'><div class='item_image'><img src='data:image/jpeg;base64," + e[i].base64StrigImg + "' alt='ItemImg'></div><a href='@ViewBag.BookUrl?TextileId=" + e[i].textileId + "' class='item_name'>" + e[i].name + "</a><div class='rateItemContainer'><input class='rateItem' value='" + e[i].stars + "'/> <a href='@ViewBag.BookUrl?TextileId=" + e[i].textileId + "&page=1&Section=CommentsReviews'> " + e[i].parentCommentReviews + " Отзывов</a></div><div class='container-fluid itm_field'><div class='row'><div class='col-md-6'><span class='item_cost'>" + e[i].price +" ₴</span><br/><span class='lowAm'>Заканчивается</span></div><div class='col-md-6'><a href='@ViewBag.CartUrl?TextileId="+e[i].textileId+"' class='buy_item'><i class='fas fa-shopping-cart'0></i></a></div></div></div></div>")
                        }
                        else {
                            $(lines[count]).append("<div class='item'><div class='item_image'><img src='data:image/jpeg;base64," + e[i].base64StrigImg + "' alt='ItemImg'></div><a href='@ViewBag.BookUrl?TextileId=" + e[i].textileId + "' class='item_name'>" + e[i].name + "</a><div class='rateItemContainer'><input class='rateItem' value='" + e[i].stars + "'/> <a href='@ViewBag.BookUrl?TextileId=" + e[i].textileId + "&page=1&Section=CommentsReviews'> " + e[i].parentCommentReviews + " Отзывов</a></div><div class='container-fluid itm_field'><div class='row'><div class='col-md-6'><span class='item_cost'>" + e[i].price + " ₴</span><br/><span class='notInStock'>Нет в наличии</span></div><div class='col-md-6'><a href='@ViewBag.CartUrl?TextileId="+e[i].textileId+"' class='buy_item'><i class='fas fa-shopping-cart'0></i></a></div></div></div></div>")
                        }
                        $('.rateItem').rating({ displayOnly: true, size: 'xs', showCaption: false, language: "ru" });
                        if (count == 3) {
                            count = 0;
                        }
                        else {
                            count++;
                        }
                    }
                }
            });
        }
        $('.popular').click(function () {
            if (!$(this).hasClass('tpsSelected')) {
                get('popular');
            }
        });
        $('.new').click(function () {
            if (!$(this).hasClass('tpsSelected')) {
                get('new');
            }
        });
        $('.top').click(function () {
            if (!$(this).hasClass('tpsSelected')) {
                get('top');
            }
        });
        $('.discounts').click(function () {
            if (!$(this).hasClass('tpsSelected')) {
                get('discounts');
            }
        });
    </script>
    <script type="text/javascript" src="~/js/main.js"></script>
    <script type="text/javascript" src="~/libs/themes/krajee-svg/theme.min.js"></script>
    <script type="text/javascript" src="~/js/star-rating.js"></script>
    <script type="text/javascript" src="~/js/ru.js"></script>
    <script type="text/javascript" src="~/js/slider.js"></script>
    <script type="text/javascript" src="~/libs/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/libs/FontAwesome/all.min.js"></script>
    <script type="text/javascript" src="~/libs/OwlCarousel/owl.carousel.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
</body>
</html>